{% extends 'dashboard.html' %}

{% block title %}
      {{member.full_name}}-Change Password 
{% endblock title %}

{% block body %}
{% load static %}
<div class="newcontainer"> 
    <div class="col-sm-12" align="center" id="header">
    <div id="header">
        <span class="c1">Change</span>&nbsp;<span>Password</span>
    </div>
    </div>
    <div class="bg-light">
        <form method="POST">
            {% csrf_token %}
        
                    <div class="form-group row">  
                        <label class="col-sm-4 col-form-label">Old Password</label>  
                        <div class="col-sm-3">  
                            <input type="password" class="form-control" name="old_password" id="id_old_pass" required />     
                        </div> 
                        
                    </div> 
                    {% if form.old_password.errors %}{{ form.old_password.errors }}{% endif %} 
                    <div class="form-group row"> 
                        <label class="col-sm-4 col-form-label">New Password</label>  
                        <div class="col-sm-3">  
                            <input type="password" class="form-control" name="new_password1" id="id_new_pass" required minlength="8" />
                            <span toggle="#id_new_pass" class="fa fa-fw fa-eye field-icon toggle-password"></span>    
                        </div>
                        
                        
                    </div>
                    {% if form.new_password1.errors %}{{ form.new_password1.errors }}{% endif %}
                
                    <div class="form-group row"> 
                        <label class="col-sm-4 col-form-label">New Password Confirmation</label>  
                            <div class="col-sm-3">  
                                <input type="password" class="form-control"  name="new_password2" id="id_new_pass_conf" required minlength="8"/>     
                            </div> 
                            
                    </div>
                    {% if form.new_password2.errors %}{{ form.new_password2.errors }}{% endif %}

                    <div class="form-group row" >
                            <button style="border:none;" type="submit" value="Submit"><a class="btn btn-primary" type="submit" value="Submit" style="background-color: green; color: white; width: auto;"><b>Save Changes</b></a></button>
                        
                            <a class="btn btn-primary" style="background-color: red;" href="/dashboard"><b>Cancel</b></a>
                        </div>
                    </div>
          </form>
    </div>


</div>
	 
    
  

            

{% endblock body %}

{% block css%}
<style>
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
  color: gray;
}

.container{
  padding-top:50px;
  margin: auto;
}
.page-wrapper .page-content > div {
    background-color:transparent;
}

   .newcontainer {
    /* background: #080611; */
    width: 100%;
    margin: auto;
    padding: 0px;
    margin-top: 20px;
    box-shadow: 0px 0px 0px #afafaf;
    border: solid 1px #9e9e9e26;
    border-radius: 1px;
    /* overflow: hidden; */
    position: relative;
}
#header {
    text-align: center;
    margin: 0px 0px;
    border-radius: 0px;
    width: 100%;
    /* padding: 10px 15px; */
    
}
#header {
    background: #ad5389;
    background: -webkit-linear-gradient(to top, #3c1053, #ad5389);
    background: linear-gradient(to top, #3c1053, #ad5389);
}
#header {

    background-repeat: repeat-x;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    text-shadow: 0px 2px 2px #00000054;
    color: #fff;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif !important;
    line-height: 170%;
    border-bottom: solid 0px #eee;
}
form {
    margin: 2px 30px;
    padding-bottom: 40px;
    padding-top: 16px;
}

.errorlist li {
    margin-left: 19px;
    color: red;
}
.btn {
    margin-left: 10px;
}


</style>
{% endblock css%}

{% block js %}
<script>
   $(".toggle-password").click(function() {

        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
            }
    });

var err = document.getElementsByClassName("errorlist")
if(err.style.display=='block'){
    document.getElementsByClassName("alert").style.display="none"
}
    
</script>
{% endblock js %}