{% extends 'index.html'%}

{% block body %}
<!-- <h1>Login</h1> -->
{% endblock body %}

{% block content %}


<div class="container">
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" method="POST">
            {% csrf_token %}
            
            <input type="text" name="username" id="username" class="form-control" placeholder="User Id" required>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div id="remember" class="checkbox">
                <label> 
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Log in</button>
            <button class="btn btn-lg btn-secondary btn-block btn-signup"><a href="new_user">New User</a></button>
        </form><!-- /form -->
        <a href="#" class="forgot-password">
            Forgot the password?
        </a>
        
    </div><!-- /card-container -->
</div><!-- /container -->

{% endblock content %}


{% block css %}
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->

<style>
    body, html {
    height: 120vh;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(3, 121, 115), rgb(19, 3, 112));
}

header{
    width: 100%;
    height: 120vh;
    /* background: url('https://images.pexels.com/photos/1345085/pexels-photo-1345085.jpeg?auto=compress&cs=tinysrgb&h=650&w=940') no-repeat center center; */
    background-size: cover;
    /*background: linear-gradient(#503eff, #08d4fd);*/
   /* background: linear-gradient(0deg, #08d4fd 0%, #503eff 100%);*/
    /*background: linear-gradient(#e66465, #9198e5);*/
    position: relative;
    color: #ffffff;
    overflow: hidden;
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color:transparent;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}



.form-signin #uname,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}


.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}
.btn.btn-signup,
.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.btn.btn-signup:hover,
.btn.btn-signup:active,
.btn.btn-signup:focus {
    background-color: rgb(241, 42, 15);
}

.btn.btn-signup a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-transform:none;
    
}
.checkbox{
    font-size: 12px;
}
.forgot-password {
    color: rgb(104, 145, 162);


}
a.forgot-password{
    font-size: 10px;
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}
</style>

{% endblock css %}

{% block js %}
<script>
   
</script>
{% endblock js %}