{% extends 'myAdmin/admin_index.html' %}



{% block body %}
<div id="contentdiv" style="clear: both;">
    <div class="table-responsive bg-light">
        <div class="table_top" id="table_top">
            <form method="POST" class="post-form" enctype="multipart/form-data" action="/myAdmin/add_product_new">
                {% csrf_token %}
                <table style="float:left;" width="100%" align="center" cellpadding="0" cellspacing="0" class="table table-curved table-bordered table-striped">
                    <tbody>
                        <tr>
                            <td align="center">
                                <div id="header">
                                    <span>Add New Product</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                               
                                <table width="100%" align="center" class="table table-bordered table-hover table-striped">
                                    <td  width="94%">
                                        <div class="form-group row"> 
                                            <label class="col-sm-3 col-form-label">Product Name</label>  
                                            <div class="col-sm-3">  
                                                <input type="text" class="form-control" name="prod_name" id="id_prod_name" value="{{item.prod_name}}" maxlength="50" required />     
                                            </div>  
                                            <label class="col-sm-3 col-form-label">Price</label>  
                                            <div class="col-sm-3">  
                                                <input type="number" class="form-control" name="price" id="id_price"  value="{{item.price}}" maxlength="50" required />     
                                            </div> 
                                        </div>

                                        <div class="form-group row">  
                                            <label class="col-sm-3 col-form-label">Category</label>  
                                            <div class="col-sm-3">  
                                                <select class="form-control" name="category" id="id_category" required/>
                                                    <option value="{{item.category}}">{{item.category}}</option>
                                                    <option value="Pharmaceutical Products">Pharmaceutical Products</option>
                                                    <option value="Complementary Health Products">Complementary Health Products</option>
                                                    <option value="Medical Devices">Medical Devices</option>
                                                    <option value="Cosmetic Products">Cosmetic Products</option>
                                                    <option value="Others">Others</option>
                                                </select> 
                                            </div>  
                                            <label class="col-sm-3 col-form-label">Sub-Category</label>  
                                            <div class="col-sm-3">  
                                                <select class="form-control" name="sub_category" id="id_sub_category"  required/>
                                                    <option value="{{item.sub_category}}">{{item.sub_category}}</option>
                                                    <option value="Pharmaceutical Products">Chemical Drugs</option>
                                                    <option value="Pharmaceutical Products">Biological Drugs</option>
                                                    <option value="Pharmaceutical Products">Vaccines</option>
                                                    <option value="Complementary Health Products">Health Supplements</option>
                                                    <option value="Complementary Health Products">Other Complementary Medicines</option>
                                                    <option value="Medical Devices">Low-Risk Devices</option>
                                                    <option value="Medical Devices">Intermediate-Risk Devices</option>
                                                    <option value="Medical Devices">High-Risk Devices</option>
                                                    <option value="Cosmetic Products">Oral Care</option>
                                                    <option value="Cosmetic Products">Skin Care</option>
                                                    <option value="Cosmetic Products">Sun Care</option>
                                                    <option value="Cosmetic Products">Hair Care</option>
                                                    <option value="Cosmetic Products">Decorative</option>
                                                    <option value="Cosmetic Products">Body Care</option>
                                                    <option value="Cosmetic Products">Perfumes</option>
                                                    <option value="Others">Others</option>
                                                </select> 
                                            </div> 
                                        </div> 
                                        
                    
                                        <div class="form-group row">  
                                            <label class="col-sm-3 col-form-label">Descriptions</label>  
                                            <div class="col-sm-9">  
                                                <textarea type="text" class="form-control" name="prod_desc" id="id_prod_desc"  value="{{item.prod_desc}}" maxlength="300">{{item.prod_desc}}</textarea>
                                            </div>  
                                        </div>
                                        
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Status</label>  
                                            <div class="col-sm-3">  
                                                <select class="form-control" name="status" id="id_status" required />
                                                    <option value="{{item.status}}">{{item.status}}</option>
                                                    <option value="Active">Active</option>
                                                    <option value="Inactive">Inactive</option>
                                                </select>      
                                            </div>
                                            <label class="col-sm-3 col-form-label">Product Image</label>  
                                            <div class="col-sm-3">  
                                                <input id="id_imageUpload" type="file" name="prod_image" placeholder="Photo" capture>      
                                            </div> 
                                        </div>  
                                                <input type="hide" class="form-control" name="id" id="id_id"  value="{{item.id}}" />      
                                    </td>           
                                </table>
                                <table width="100%" cellpadding="0" cellspacing="0" border="0" class="head1" >
                                    <tr>
                                        <div class="form-group row" >
                                            <div class="col-sm-7"></div>
                                            <div class="col-sm-5">
                                                <button style="border:none;" type="submit" value="Submit">
                                                    <a class="btn" style="background-color: green;">Submit</a>
                                                </button>
                                                
                                                <a class="btn" style="background-color: red;" href="/myAdmin">Cancel</a>
                                                <a class="btn btn-primary" style="background-color: yellow; color: black;" href="/myAdmin/add_product_new">New</a>
                                            </div>
                                        </div>
                                    </tr> 
                                    <tr></tr>
                                </table> 
                            </td>
                    
                        </tr>
                    </tbody>
                </table>
            </form>
            
        </div>   
    </div>
    

    
        

    <center><h4><b>Product List</b></h4></center>
   
    <div class="table-responsive">
        <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
            <thead>
                <th style="text-align:center">Edit</th>
                <th style="text-align:center">SL No.</th>
                <th style="text-align:center">Product Name</th>
                <th style="text-align:center">Product Price</th>
                <th style="text-align:center">Category</th>
                <th style="text-align:center">Sub Category</th>
                <th style="text-align:center">Image</th>
                <th style="text-align:center">Status</th>
                <th style="text-align:center">Date</th>
                <th style="text-align:center">Descriptions</th>
                
             

            </thead>
            <tbody>
            {% for product in products %}  
                <tr>  
                    <td><p data-placement="top" data-toggle="tooltip" title="Edit"><a href="/myAdmin/add_product_{{ product.id }}" class=" btn-primary btn-xs" data-title="Edit" ><span class="glyphicon glyphicon-pencil"></span></a></p></td>
                    <td style="text-align:center">{{ forloop.counter }}</td> 
                    <td style="text-align:center">{{ product.prod_name }}</td>  
                    <td style="text-align:center">{{ product.price }}</td>  
                    <td style="text-align:center">{{ product.category }}</td>  
                    <td style="text-align:center">{{ product.sub_category }}</td> 
                    <td style="text-align:center"><img id="slip_image_{{ product.prod_id }}" src="/media/{{ product.prod_image }}" width="30px;" height="30px" onclick="window.open('/media/{{ product.prod_image }}', '_blank');"><span id="error_{{ product.prod_id }}"></span> </td>  
                    <script>
                        var img = document.getElementById("slip_image_{{ product.prod_id }}");
                        img.onerror = function () { 
                            this.style.display = "none";
                            document.getElementById("error_{{ product.prod_id }}").innerHTML='None'
                        }
                    </script> 
                    <td style="text-align:center">{{ product.status }}</td>
                    <td style="text-align:center; width: 100px;">{{ product.pub_date|date:'j-M-Y' }}</td>  
                    <td style="text-align:center">{{ product.prod_desc }}</td>    

                </tr>  
                {% endfor %} 
            </tbody>
     
        </table>

    </div>

</div>

{% endblock body %}
{% block css %}
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


<style>
  
    #contentdiv{
        background-color: white;
        margin-top: -15px;
        
    }

    #header{
        font-weight: 750;
        color: rgb(5, 5, 116);
    }

    select.form-control-sm:not([size]):not([multiple]) {
    height: calc(2.8125rem + 2px);
}
label {
    display: inline-flex;
    
}

thead {
    background: yellowgreen;

}
select.form-control:not([size]):not([multiple]) {
    height: calc(3.25rem + 2px);
}
.btn{
    width: 100px;
}
td {
    width: min-content;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

</style>
{% endblock css %}

{% block js%}
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
 
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function() {
        $('#bootstrapdatatable').DataTable({     
          "aLengthMenu": [[5, 10, 20, 50,100, -1], [5, 10, 20, 50,100, "All"]],
            "iDisplayLength": 5
           } 
        );
    } );
    $(document).ready(function() {
        $('#bootstrapdatatabl').DataTable({     
          "aLengthMenu": [[5, 10, 20, 50,100, -1], [5, 10, 20, 50,100, "All"]],
            "iDisplayLength": 20
           } 
        );
    } );
    
</script>
{% endblock js %}