{% extends 'myAdmin/admin_index.html' %}



{% block body %}
<div class="row">
    <div class="col-lg-12">
      <div class="iconss iconban">
        <div class="row tdbar">

          <div class="col-6 col-lg-3">
          
              <div class="fcpbox2">
                <div>
                  <a href="GenaralHome" id="#" style="border-bottom:0px solid #000;">
                  <div class="fa fa-tv" style="font-size:40px;color:white;text-shadow:2px 2px 4px #000000;"></div></a>
                </div>
                <a href="GenaralHome" style="text-decoration: none;">General Home</a>
              </div>
          
          </div>
          <div class="col-6 col-lg-3">
          
            <div class="fcpbox2">
              <div>
                <a href="MemberHome/None" id="#" style="border-bottom:0px solid #000;">
                <div class="fas fa-user" style="font-size:40px;color:white;text-shadow:2px 2px 4px #000000;"></div></a>
              </div>
              <a href="MemberHome/None" style="text-decoration: none;">Member Home</a>
            </div>
          </div>
          <div class="col-6 col-lg-3">
            
            <div class="fcpbox2">
              <div>
                <a href="#" id="#" style="border-bottom:0px solid #000;">
                <div class="fas fa-sitemap" style="font-size:40px;color:white;text-shadow:2px 2px 4px #000000;"></div></a>
              </div>
              <a href="#" style="text-decoration: none;">Downline</a>
            </div>
        
          </div>
          <div class="col-6 col-lg-3">
              
            <div class="fcpbox2">
              <div>
                <a href="#" id="#" style="border-bottom:0px solid #000;">
                <div class="fa fa-shopping-cart" style="font-size:40px;color:white;text-shadow:2px 2px 4px #000000;"></div></a>
              </div>
              <a href="#" style="text-decoration: none;">Products</a>
            </div>
      
          </div>
          <div class="col-6 col-lg-3">
                
            <div class="fcpbox2">
              <div>
                <a href="#" id="#" style="border-bottom:0px solid #000;">
                <div class="far fa-address-book" style="font-size:40px;color:white;text-shadow:2px 2px 4px #000000;"></div></a>
              </div>
              <a href="#" style="text-decoration: none;">Edit Profile</a>
            </div>
        
          </div>
          <div class="col-6 col-lg-3">
                  
            <div class="fcpbox2">
              <div>
                <a href="#" id="#" style="border-bottom:0px solid #000;">
                <div class="fas fa-rupee-sign" style="font-size:40px;color:white;text-shadow:2px 2px 4px #000000;"></div></a>
              </div>
              <a href="#" style="text-decoration: none;">Payout Summary</a>
            </div>
        
          </div>
          <div class="col-6 col-lg-3">
                    
            <div class="fcpbox2">
              <div>
                <a href="#" id="#" style="border-bottom:0px solid #000;">
                <div class="fa fa-podcast" style="font-size:40px;color:white;text-shadow:2px 2px 4px #000000;"></div></a>
              </div>
              <a href="#" style="text-decoration: none;">My Directs</a>
            </div>
        
          </div>
          <div class="col-6 col-lg-3">
                      
            <div class="fcpbox2">
              <div>
                <a href="#" id="#" style="border-bottom:0px solid #000;">
                <div class="fa fa-suitcase" style="font-size:40px;color:white;text-shadow:2px 2px 4px #000000;"></div></a>
              </div>
              <a href="#" style="text-decoration: none;">Edit Bank A/C</a>
            </div>

          </div>
          <div class="col-6 col-lg-3">
                        
            <div class="fcpbox2">
              <div>
                <a href="#" id="#" style="border-bottom:0px solid #000;">
                <div class="fas fa-lock" style="font-size:40px;color:white;text-shadow:2px 2px 4px #000000;"></div></a>
              </div>
              <a href="#" style="text-decoration: none;">Change Password</a>
            </div>

          </div>
          <div class="col-6 col-lg-3">
                        
            <div class="fcpbox2">
              <div>
                <a href="#" id="#" style="border-bottom:0px solid #000;">
                <div class="fas fa-unlock-alt" style="font-size:40px;color:white;text-shadow:2px 2px 4px #000000;"></div></a>
              </div>
              <a href="#" style="text-decoration: none;">Change Txn Psw</a>
            </div>

          </div>
          <div class="col-6 col-lg-3">
                        
            <div class="fcpbox2">
              <div>
                <a href="#" id="#" style="border-bottom:0px solid #000;">
                <div class="fas fa-copy" style="font-size:40px;color:white;text-shadow:2px 2px 4px #000000;"></div></a>
              </div>
              <a href="#" style="text-decoration: none;">Welcome Letter</a>
            </div>

          </div>
          <div class="col-6 col-lg-3">
                        
            <div class="fcpbox2">
              <div>
                <a href="#" id="#" style="border-bottom:0px solid #000;">
                <div class="far fa-handshake" style="font-size:40px;color:white;text-shadow:2px 2px 4px #000000;"></div></a>
              </div>
              <a href="#" style="text-decoration: none;">Join Now</a>
            </div>

          </div>
          <div class="col-6 col-lg-3">
                        
            <div class="fcpbox2">
              <div>
                <a href="#" id="#" style="border-bottom:0px solid #000;">
                <div class="fas fa-power-off" style="font-size:40px;color:white;text-shadow:2px 2px 4px #000000;"></div></a>
              </div>
              <a href="#" style="text-decoration: none;">Signout</a>
            </div>

          </div>               
        </div>
      </div>
 
    </div>

  </div>
{% endblock body %}

{% block css %}
<style>
    .fcpbox2:hover {
    background: black none repeat scroll 0 0;
}
.fcpbox2 {
    background: #023348 none repeat scroll 0 0;
    border-radius: 8px;
    width: auto;
    height: 90px;
    color: #000;
    /* margin: 11px 5px 0 30px; */
    padding: 12px;
    text-align: center;
    border: solid 0px #999999;
    margin-bottom: 10px;
    -webkit-transition: all .1s ease-out;
    /* -moz-transition: all .1s ease-out; */
    /* -ms-transition: all .1s ease-out; */
    /* -o-transition: all .1s ease-out; */
    transition: all .1s ease-out;
}
@media screen and (min-width: 240px){
.fcpbox2 a {
    font-size: 12px;
}
}
@media screen and (min-width: 768px){
.fcpbox2 a {
    font-size: 18px;
}
}
.fcpbox2 a {
    color: #fff;
    border-bottom: 0;
    padding-bottom: 3px;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
</style>
{% endblock css %}

{% block js %}
{% endblock js %}